<%- include('navbar'), {currentUser}%>

<div class="search-wrapper">

  <h1><span class="red">Delete</span> Movies</h1>
  
  <form action="/delete-movie" method="POST">
    <div class="btn-frame-log">
    
    <div class="flex-input">
    <label class="label" for="movieId">Movie ID:</label>
    <input class="input" type="text" id="movieId" name="movieId" placeholder="Movie ID" required>
    </div>

    <div class="flex-input-btn">
    <button class="btn-one" style="font-size: 1.3rem; color:white; font-weight: bold;" type="submit">Delete Movie</button>
    </div>
    </div>
  </form>
</div>
  

