
  



<div class="main-container">
    <h1>Welcome to <span class="red">movease</span>, we make finding
        movies... <span class="red">easy</span>.</h1>

   <div class="btn-container">
        <button class="btn-one" type="submit"><a href="/auth/login" style="color: white; font-weight: bold; font-size:  1.3rem;">LogIn</a></button>
        <button class="btn-two"type="submit"><a href="/auth/signup" style="color: #BE0503; font-size: 1.3rem; font-weight: bold;">SignUp</a></button>
    </div> 
</div>    