
  



<div class="main-container">
    <h1>Welcome to <span class="red">movease</span>, we make finding
        movies... <span class="red">easy</span>.</h1>

   <div class="btn-container">
    <a href="/auth/login">  <button class="btn-one" type="submit" style="color: white; font-weight: bold; font-size:  1.3rem;">LogIn</button></a>
    <a href="/auth/signup"><button class="btn-two"type="submit" style="color: #BE0503; font-size: 1.3rem; font-weight: bold;">SignUp</button></a>
    </div> 
</div>    