
  


<p><%= appTitle %> 🚀</p>
<h1 class="hero-headline">Welcome to  Movease we make finding
    Movies easy.</h1>

    <button type="submit"><a href="auth/login">LogIn</a></button>
    <button type="submit"><a href="auth/signup">SignUp</a></button>