<nav>
  <h1><%=currentUser.username%></h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <% if (currentUser.role === 'admin') { %>
        <li><a href="/add-movie">Add Movie</a></li>
        <li><a href="/update-movie">Update Movie</a></li>
        <li><a href="/delete-movie">Delete Movie</a></li>
      <% } %>
    </ul>
  </nav>

