*{
  font-size: 16px;
}

body {
  min-width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/Backgroundimage.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
}

body {
  
  opacity: 0; /* Wir setzen die Anfangsopazität auf 0, damit die Elemente unsichtbar sind */
}

/* Übergangseffekte für das Erscheinen der Elemente */
body.animate-in {
  opacity: 1; /* Wenn die Opazität auf 1 gesetzt wird, werden die Elemente sichtbar */
  transition: opacity 2s ease-in-out; /* Die Übergangsregel für das Erscheinen der Elemente */
}



.user {
  font-size: 1rem;
}

.logo {
  width: 300px;
  height: auto;
}

#header{
position: fixed;
  top: 3em;
  left: 3em;
 
  padding: 1em; 
}
a {
  color: #BE0503;
  text-decoration: none;
  font-weight: bold;
}


h1 {
  color: white;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

h3 {
  color: white;
  font-size: 2.5rem;
}

.not-found {

  color: white;
  width: 50vw;
}

.red{
  color: #BE0503;
  font-size: 5rem;
  font-weight: bold;
}



.btn-one {
  background-color: #BE0503;
  border-radius: 50px;
  border: 2px solid white;
  width: 16rem;
  height: 4rem;
  box-shadow: 0px 6px 12px rgba(190, 5, 3, 0.6);
}

.btn-one:hover {
  
  background-color: #BE0503; 
  
}

.btn-two {
  background-color: white;
  border-radius: 50px;
  border: 2px solid #BE0503;
  width: 16rem;
  height: 4rem;
  box-shadow: 0px 6px 12px rgba(190, 5, 3, 0.6);
}


.navbar {
  position: fixed;
  top: 3em;
  right: 3em;
 
  padding: 10px; /* Add padding for better visibility */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}

.navbar li {
  display: inline-block;
  margin-right: 2em; /* Adjust the spacing between list items */

}

.navbar a {
  text-decoration: none;
  color: #BE0503; /* Set the color of the navigation links */
  font-size: 1.2rem;
  text-shadow: rgba(190, 5, 3, 0.4) 5px 5px 10px;
}

.navbar a:hover {
  text-decoration: none;
  color: #7c0705; /* Set the color of the navigation links */
  font-size: 1.2rem;
  text-shadow: none;

}


/*Home Page*/

.main-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  gap: 2em;
  justify-content: center;
}


/*Search Page*/

.input {
  width: 16.875rem;
  height: 3.125rem;
  border-radius: 4px;
  padding-left: 0.5em;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.label {
  color: white;
  margin-bottom: 0.5em;
}

.flex-input {
  display: flex;
  flex-direction: column;
  
}

.flex-input-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.btn-frame {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  gap: 30px;
  margin-top: 30px;
}

.search-wrapper {
  margin-top: 170px;

}

.rec-wrapper {
  position: absolute;
  top: 25vh;
}



/*Login Page*/
.btn-frame-log {
  display: grid;
 
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  gap: 30px;
  margin-top: 30px;
}

.red-box {
  width: 37.5rem;
  height: 37.5rem;
  background-color: rgba(190, 5, 3, 0.3);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 130px auto 0 auto;
  padding-bottom: 100px;
  
}

/*Add Movie Page*/

.textarea {
  width: 16.875rem;
  height: 6rem;
}

/*Recomondation Page*/

h1, h2 {
  text-align: center;
}



.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
  grid-auto-rows: auto; 
  position: relative;
  top: 2em;
  
}

.post-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(190, 5, 3, 0.3);
  border-radius: 50px;
  box-shadow: 0px 12px 24px rgba(192, 7, 7, 0.2);
  transition: transform 0.2s ease;
}




.post-card:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.image-box img {
  max-width: 100%;
  height: 400px;
  border-radius: 50px;

}

.post-details {
  text-align: left;
  padding-left: 1em;
}

a {
  display: inline-block;
  
}

.card-text-white {
  color: rgb(237, 234, 234);
  font-size: 1.375rem;
  display: inline-block;
  margin-top: -1em;
}

.card-text {
  color: rgb(213, 213, 213);
  font-size: 1.375rem;
  display: inline-block;

  
}

.card-text-link {
  color: gray;
  font-size: 1rem;
  display: block;
  text-align: right;
  bottom: 0;
  right: 0;
  padding-right: 1em;
  padding-bottom: 1em;
}



